.sectionOne{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.sectionOne img{
    border-radius: 50px;
}

@media screen and (max-width: 1050px){
    .sectionOne{
        height: 60vh;
        width: 100vw;
        display:flex;
        justify-content: center;
        
    }
    .sectionOne img{
        border-radius: 0px;
        height: 99%;
        width: 100%;
        justify-content: center;
    }
}