.sectionTwo{
    height: 28vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.sectionTwo p{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    color:seashell;
    margin-bottom: 10px;
}
.sectionTwo form{
    display: inline-block;
    justify-content:space-between;
}
.sectionTwo input{
    font-size: 30px;
    color: seashell;
    margin: 0px 10px;
    
}
.textInput{
    height: 35px;
    padding-left: 10px;
}
.submitInput{
    /* não muda o fundo */
    background-color: #4CAF50;
    cursor: pointer;
    height: 60px;
    width: 200px;
}